@use "../../../styles/variables.module" as vars;

.scrollContainer {
  height: 352px;
  overflow: scroll;
}

.submenuItemWrapper {
  margin-top: 8px;
  margin-bottom: 8px;
}

.text {
  padding: 40px;
  color: vars.$gray-80;
  @include vars.text-style(32px, 40px, -0.02em);
}
