name: Docker Build

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'
  pull_request:

jobs:
  build:
    name: Build with Docker
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t nocturne-builder:latest .

      - name: Build Nocturne
        run: |
          mkdir -p ${{ github.workspace }}/output
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
          docker run --rm --privileged -v ${{ github.workspace }}/output:/work/output --user 0:0 nocturne-builder:latest
          docker run --rm -v ${{ github.workspace }}/output:/output alpine:latest chown -R 1001:1001 /output

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: output/**
